:root {
  --primary-color: #172a3a;
  --secondary-color: #d9dcd6;
  --accent-color: #81c3d7;
  --pearlescent-color: #e6e6fa;
}

body {
  background-color: var(--primary-color);
}

.nav-pills .nav-link {
  background-color: inherit; /* Replace with your desired color */
  color: var(--secondary-color); /* Replace with the text color you want */
  font-weight: 600;
}

.nav-pills .nav-link.active {
  background-color: var(--accent-color);
  color: white;
}

.skill-card {
  background-color: var(--accent-color);
  box-shadow: 3px 3px 4px rgb(0, 0, 0);
}

.skill-header {
  font-weight: 800;
  font-size: xx-large;
  color: var(--secondary-color);
}

.skill-name {
  font-weight: 200;
  color: var(--pearlescent-color);
}

.slide-in-left {
  opacity: 0;
  transform: translateX(100%);
  animation: slideInLeft 1s ease-in-out forwards;
}

.slide-in-down {
  opacity: 0;
  transform: translateY(100%);
  animation: slideInDown 1s ease-in-out forwards;
}

.slide-in-down-other {
  opacity: 0;
  transform: translateY(100%);
  animation: slideInDown 1.2s ease-in-out forwards;
}

.slide-in-down-other-other {
  opacity: 0;
  transform: translateY(100%);
  animation: slideInDown 1.4s ease-in-out forwards;
}

.slide-in-up {
  opacity: 0;
  transform: translateY(0);
  animation: slideInUp 1s ease-in-out forwards;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInDown {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about {
  padding: 3.5rem;
  background-color: var(--accent-color);
  border-radius: 10px;
  box-shadow: 3px 3px 4px rgb(0, 0, 0);
}

.about-me-header {
  font-weight: bold;
  color: var(--secondary-color);
}

.about-me-content {
  color: var(--pearlescent-color);
  letter-spacing: 2px;
  font-size: 20px;
}

.myskillheader {
  font-weight: 600;
  color: var(--pearlescent-color);
}

.myprojectsheader {
  font-weight: 600;
  color: var(--pearlescent-color);
}

.card-body {
  background-color: var(--accent-color);
  color: var(--pearlescent-color);
}

.card-title {
  color: var(--secondary-color);
}
